.viz-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.viz-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--bg-tertiary);
}

.viz-canvas-area {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tree Link Animation */
.tree-link-dash {
    stroke-dasharray: 8;
    animation: dash 1s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: -16;
    }
}